<!doctype html>
<html
  lang="en"
  th:replace="~{layout/layout ::parent(~{::title},~{::#content},~{::link},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- you can add single or multiple link tag -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Project</title>
  </head>
  <body>
    <!-- Page content inside this -->
    <div id="content">
      <div class="card">
        <div class="card-body">
          <h3>
            Confirm you want to delete project
            <span class="" th:text="${project.name}"></span>
          </h3>
          <div class="d-flex justify-content-center gap-2">
            <form
              th:action="@{'/project/delete-confirm-' + ${project.id}}"
              method="post"
            >
              <input type="hidden" name="_method" value="delete" />
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a th:href="@{/project}" class="btn btn-secondary">Back</a>
          </div>
        </div>
      </div>
    </div>

    <!-- you can add single or multiple scripts tag-->
    <script>
      console.log("home page");
    </script>
  </body>
</html>
